footer
	.container
		.row.row-footer
			.col-sm-6.footer-text
				.nomsoustitre
					p MR . ABDESSLAM DAHMANI
					span Avocat–agreé près la Cour Marocaine de cassation
				.tel 
					a(href="tel:+212537905785") 0537905785
					span /
					a(href="tel:+212667039452") 0667039452
				.emailp
					a(href="mailto:infos@abdesslamdahmani.com") infos@abdesslamdahmani.com
				.siteweb
					a(href="http://www.abdesslamdahmani.com") www.abdesslamdahmani.com
				p AV med V. Rue youssef Ibn Tachﬁne N° 11 Bel Ksiri
			.col-sm-6
				.logo-social
					a(class="logo-f" href="#")
						picture
							img.logo(src=imgDir+"logo.png" alt="")
					.social
						a(href="#")
							i.fab.fa-youtube
						a(href="#")
							i.fab.fa-linkedin-in
						a(href="#")
							i.fab.fa-facebook-f
						a(href="#")
							i.fab.fa-instagram
						